<div class="column col-sm-3" id="sidebar">
    <a class="logo" href="">Line Items</a>
    <ul class="nav">
        <li class="active"><a href="#clients">clients</a>
        </li>
        <li><a href="#invoices">Invoices</a>
        </li>
    </ul>
            
    <ul class="nav hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://www.bootply.com" target="_new"><h3>Line Items</h3>A better way to bill clients</a>
        </li>
    </ul>
</div>