/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif !important;
$teal: #37b3e0;
$dark-teal: #1ca5d1;
$lime: #b6d433;
$medium-blue: #2871a7;
$dark-blue: #101e2d;
$yellow: #fcd71d;
$dark-yellow: #eebc1b;
$light-gray: #fcfcfb;
$gray: #f5f6f7; 
$dark-gray: #494f5c;

/* html and body height is 100% so that the home background image is full screen */
html{
	height: 100%;
}

body{
	height: 100%;
	font-family: $font-stack;
	font-weight: 700 !important;
}


/* HOME PAGE */

.logo-image {
	float:left;
	color:green;
	margin-top: 17px;
	margin-right:10px
}

.column {
height: 100%;
overflow: auto;
}

.home-container{
	height:85%;
	background-image:url("laptop_notebook.jpg");
}

.home-navbar{
	background: rgba(255, 255, 255, 0) !important;
	color:white;
	border: none;

	.navbar-brand{
		font-size:28px;
		font-weight: 700;
	}

	a{
		color:white !important;
	}

	.icon-bar{
		background-color:white !important;
	}

	.navbar-collapse{
		border:none;
		box-shadow:none;

	    a{
			border: white;
		}
	}
}

.home-slogan{
	color:white;
	background: none !important;

	h1{
		font-size: 66px;
		line-height: 73px;
		font-weight: 700;
		letter-spacing: -0.04em;
	}
}

.home-footer{
	background-color:white;
	height:10%;
	color: #676769;
	padding-top: 16px;
}

/* Admin Dashboard */

.dashboard-container{
	margin-top:40px;
}

.content-navbar-right{
	margin: 0 0 0 -15px;
	z-index: 999993;
	border-radius: 0;
	position: absolute;
}

.content-right{
	padding-top: 70px;
}

/* Bootstrap overrides */

.navbar-default{
	background-color: white;
}

#sidebar{
	a{
		color: $dark-blue !important;
	}
	
}

.toggle-nav-panel {
	background-color: black;
	height: 50px;
}

.sidebar-links{
	background-color: #1B1E24;
	border-top: 1px solid #1F2429;
	height:100%;
}

.sidebar-link{
	height: 38px;
	padding-top:14px;
}

.offcanvas-height{
	height: 100% !important;
}