/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack: "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;

/* html and body height is 100% so that the home background image is full screen */
html{
	height: 100%;
}

body{
	height: 100%;
	font: $font-stack;
}

.logo-image {
	float:left;
	color:green;
	margin-top: 17px;
	margin-right:10px
}

#sidebar{
	background-image:url("./5.jpg");
}

#sidebar-footer{

}

.column {
height: 100%;
overflow: auto;
}

.home-container{
	height:85%;
	background-image:url("./laptop_notebook.jpg");
}

.home-navbar{
	background: rgba(255, 255, 255, 0);
	color:white;
	border: none;

	.navbar-brand{
		font-size:28px;
	}

	a{
		color:white !important;
	}

	.icon-bar{
		background-color:white !important;
	}

	.navbar-collapse{
		border:none;
		box-shadow:none;

	    a{
			border: white;
		}
	}
}

.home-slogan{
	color:white;
	background: none !important;
}

.home-footer{
	background-color:white;
	height:10%;
	color: #676769;
	margin-top: 26px;
}
